<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerLink}}

</head>

<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side header -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="image/404-error.jpg" alt="sccoop" class="img-fluid" title="scoopy">
                        </figure>

                    </div>
                    <!-- left side header -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Scooby's World</p>
                        <h1>{{errorname}}</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- footer -->
    {{>footer}}
</body>

</html>